@charset "UTF-8";

body {
    background-color: #deffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #52918F;
    
    
}

h1#diferentao {
    text-align: center;
    background-color: #91FFB3;
}

h2 {
    color: #277070;
}

.basico {
    color: #277070;
}

.intermediario {
    color: rgb(201, 201, 25);
    font-weight: bold;
}

.avancado {
    color: rgb(255, 61, 27);
}

.destaque {
    background-color: rgba(250, 128, 114, 0.603);

}