@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgray;
}


header {
    background-color: lightslategray;
}

header > h1 {
    text-align: center;
    padding-bottom: 10px;
}

i#hamburguer {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#hamburguer:hover {
    background-color: rgb(199, 199, 199);
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(88, 88, 88);
    color: white;
    border-top: 2px solid black;
}

li > a:hover {
    background-color: rgb(161, 161, 161);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article {
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    text-align: justify;
}

article > h1 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 10px;
}