@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('fonte/idroid.otf');
    font-weight: 'normal';
}

* {
    margin: 0px;
    padding: 0px
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1f;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: 'android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: white;
    font-family: var(--fonte-android);
    font-size: 2.5em;
    padding-bottom: 20px;
}

header p {
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
}

nav {
    background-color: var(--cor5);
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

main {
    
}