@charset "UTF-8";

/* Config pra geral todas as midia */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #1829a8;
    padding: 10px;
}